In [1]:
# Normal comment
""" doc comment """ # docstring

' doc comment '

In [46]:
my_float = 1.0
print(my_float)
type(my_float)

1.0

float

In [47]:
my_float = 1
print(my_float)
type(my_float)

1

int

In [48]:
my_int = int(3.14159)
print(my_int)
type(my_int)

3

int

In [49]:
my_string = 'This is a string'
print(my_string)

This is a string

In [50]:
my_string = '"Jabberwocky", by Lewis Carroll'
print(my_string)

"Jabberwocky", by Lewis Carroll

In [51]:
my_string = "'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;"
print(my_string)

'Twas brillig, and the slithy toves / Did gyre and gimble in the wabe;

In [52]:
my_bool = True
print(my_bool)
type(my_bool)

True

bool

## Basic Math

In [53]:
print("Addition:", 2+2)
print("Subtraction:", 7-4)
print("Multiplication:", 2*5)
print("Division:", 10/2)
print("Exponentiation:", 3**2)

Addition: 4
Subtraction: 3
Multiplication: 10
Division: 5.0
Exponentiation: 9

In [54]:
# The modulo operates as a remainder
print("Modulo:", 15%4)

Modulo: 3

In [55]:
first_integer = 4.0
second_integer = 5.0
print(first_integer * second_integer)

20.0

In [56]:
first_integer = 11
second_integer = 3
print(first_integer / second_integer)

3.6666666666666665

In [57]:
first_integer = 11.0
second_integer = 3.0
print(first_integer / second_integer)

3.6666666666666665

Python has a few built-in functions. The most notable of these are:

- `abs()`
- `round()`
- `max()`
- `min()`
- `sum()`

Additional math functionality can be added in with the  `math` package.

In [58]:
import math

In [59]:
print('Pi:', math.pi)
print("Euler's Constant:", math.e)

Pi: 3.141592653589793
Euler's Constant: 2.718281828459045

In [60]:
print('Cosine of pi:', math.cos(math.pi))

Cosine of pi: -1.0

## Collections

### Lists

List -> ordered collection of objects that can contain any data type.

In [61]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [62]:
print(my_list[1])
print(my_list[2])

2
3

In [63]:
print('The first, second, and third list elements: ', my_list[0], my_list[1], my_list[2])

The first, second, and third list elements:  1 2 3

In [64]:
print(len(my_list))

3

In [65]:
print(my_list)
my_list[0] = 42
print(my_list)

[1, 2, 3]
[42, 2, 3]

This is fundamentally different from how strings are handled. A `list` is mutable, meaning that you can change a `list`'s elements without changing the list itself. Some data types, like `strings`, are immutable, meaning you cannot change them at all. Once a `string` or other immutable data type has been created, it cannot be directly modified without creating an entirely new object.

In [66]:
my_string = "String's never change"
my_string[0] = 'Z'

In [67]:
my_list_2 = ['one', 'two', 'three']
print(my_list_2)

['one', 'two', 'three']

Lists can also contain multiple different data types at once.

In [68]:
my_list_3 = [True, 'False', 42]

In [69]:
my_list_4 = my_list + my_list_2 + my_list_3
print(my_list_4)

[42, 2, 3, 'one', 'two', 'three', True, 'False', 42]

In addition to accessing individual elements of a list, we can access groups of elements through slicing.

In [70]:
my_list = ['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']

### Slicing

In [71]:
print(my_list[2:4])

['countrymen', 'lend']

In [72]:
print(my_list[:4])

['friends', 'romans', 'countrymen', 'lend']

In [73]:
print(my_list[-2])

your

You can also add a third component to slicing. Instead of simply indicating the first and final parts of your slice, you can specify the step size that you want to take. So instead of taking every single element, you can take every other element.

In [74]:
print(my_list[0:7:2])

['friends', 'countrymen', 'me', 'ears']

In [75]:
print(my_list[::2])

['friends', 'countrymen', 'me', 'ears']

In [76]:
print(my_list[:])

['friends', 'romans', 'countrymen', 'lend', 'me', 'your', 'ears']

With a negative step size we can even reverse the list.

In [77]:
print(my_list[::-1])

['ears', 'your', 'me', 'lend', 'countrymen', 'romans', 'friends']

Python does not have native matrices, but with lists we can produce a working fascimile. Other packages, such as numpy, add matrices as a separate data type, but in base Python the best way to create a matrix is to use a list of lists.

We can also use built-in functions to generate lists. In particular we will look at range() (because we will be using it later!). Range can take several different inputs and will return a list.

In [78]:
b = 10
my_list = range(b)
print(my_list)

range(0, 10)

In [79]:
a = 2
b = 10
my_list = range(a, b)
print(my_list)

range(2, 10)

In [80]:
a = 0
b = 10
step = 2
my_list = range(a, b, step)
print(my_list)

range(0, 10, 2)

### Tuples

A `tuple` is a data type similar to a list in that it can hold different kinds of data types. The key difference here is that a `tuple` is immutable. We define a `tuple` by separating the elements we want to include by commas. It is conventional to sorround a `tuple` with parentheses.

In [81]:
my_tuple = 'I', 'have', 30, 'cats'
print(my_tuple)

('I', 'have', 30, 'cats')

In [82]:
my_tuple = ('I', 'have', 30, 'cats')
print(my_tuple)

('I', 'have', 30, 'cats')

In [83]:
my_tuple[3] = 'dogs' # Attempts to change the 'cats' value stored in the tuple to 'dogs'

TypeError: 'tuple' object does not support item assignment

In [84]:
print(my_tuple[1:3])

('have', 30)

In [85]:
my_other_tuple = ('make', 'that', 50)
print(my_tuple + my_other_tuple)

('I', 'have', 30, 'cats', 'make', 'that', 50)

In [86]:
str_1, str_2, int_1 = my_other_tuple
print(str_1, str_2, int_1)

make that 50

Unpacking assigns each value of the tuple in order to each variable on the left hand side of the equals sign. Some functions, including user-defined functions, may return tuples, so we can use this to directly unpack them and access the values that we want.

### Sets

A `set` is a collection of unordered, unique elements. It works almost exactly as you would expect a normal set of things in mathematics to work and is defined using braces (`{}`).

In [87]:
things_i_like = {'dogs', 7, 'the number 4', 4, 4, 4, 42, 'lizards', 'man I just LOVE the number 4'}
print(things_i_like), type(things_i_like)

{'lizards', 4, 'man I just LOVE the number 4', 'the number 4', 7, 42, 'dogs'}

(None, set)

In [88]:
animal_list = ['cats', 'dogs', 'dogs', 'dogs', 'lizards', 'sponges', 'cows', 'bats', 'sponges']
animal_set = set(animal_list)
print(animal_set) # Removes all extra instances from the list

{'lizards', 'sponges', 'cows', 'dogs', 'bats', 'cats'}

In [89]:
print(len(animal_set))

6

In [90]:
'cats' in animal_set # Here we check for membership using the `in` keyword.

True

In [91]:
print(animal_set | things_i_like) # You can also write things_i_like | animal_set with no difference

{'lizards', 'sponges', 'cows', 4, 7, 42, 'dogs', 'bats', 'cats', 'man I just LOVE the number 4', 'the number 4'}

In [92]:
print(animal_set & things_i_like)

{'lizards', 'dogs'}

### Dictionaries

Another essential data structure in Python is the dictionary. Dictionaries are defined with a combination of curly braces (`{}`) and colons (`:`). The braces define the beginning and end of a dictionary and the colons indicate key-value pairs. A dictionary is essentially a set of key-value pairs. The key of any entry must be an immutable data type. This makes both strings and tuples candidates. Keys can be both added and deleted.

In the following example, we have a dictionary composed of key-value pairs where the key is a genre of fiction (`string`) and the value is a list of books (`list`) within that genre. Since a collection is still considered a single entity, we can use one to collect multiple variables or values into one key-value pair.

In [93]:
my_dict = {"High Fantasy": ["Wheel of Time", "Lord of the Rings"],
           "Sci-fi": ["Book of the New Sun", "Neuromancer", "Snow Crash"],
           "Weird Fiction": ["At the Mountains of Madness", "The House on the Borderland"]}

In [94]:
print(my_dict["Sci-fi"])

['Book of the New Sun', 'Neuromancer', 'Snow Crash']

In [95]:
my_dict["Sci-fi"] = "I can't read"
print(my_dict["Sci-fi"])

I can't read

In [96]:
my_dict["Historical Fiction"] = ["Pillars of the Earth"]
print(my_dict["Historical Fiction"])

['Pillars of the Earth']

In [97]:
print(my_dict)

{'High Fantasy': ['Wheel of Time', 'Lord of the Rings'], 'Sci-fi': "I can't read", 'Weird Fiction': ['At the Mountains of Madness', 'The House on the Borderland'], 'Historical Fiction': ['Pillars of the Earth']}

### String Shenanigans

In [98]:
my_string = 'Supercalifragilisticexpialidocious'
print('The first letter is:', my_string[0]) 
print('The last letter is:', my_string[-1])
print('The second to last letter is:', my_string[-2])
print('The first five characters are:', my_string[:5])
print('Reverse it!:', my_string[::-1])

The first letter is: S
The last letter is: s
The second to last letter is: u
The first five characters are: Super
Reverse it!: suoicodilaipxecitsiligarfilacrepuS

In [99]:
print('Count of the letter i in Supercalifragilisticexpialidocious:', my_string.count('i'))
print('Count of "li" in Supercalifragilisticexpialidocious:', my_string.count('li'))

Count of the letter i in Supercalifragilisticexpialidocious: 7
Count of "li" in Supercalifragilisticexpialidocious: 3

In [100]:
print('The first time i appears is at index:', my_string.find('i'))

The first time i appears is at index: 8

In [101]:
print("All i's are now a's:", my_string.replace('i', 'a'))

All i's are now a's: Supercalafragalastacexpaaladocaous

In [102]:
print("It's raining cats and dogs".replace('dogs', 'more cats'))

It's raining cats and more cats

In [103]:
my_string = "I can't hear you"
print(my_string.upper())
my_string = "I said HELLO"
print(my_string.lower())

I CAN'T HEAR YOU
i said hello

### String Formatting

Using the `format()` method we can add in variable values and generally format our strings.

In [104]:
my_string = "{0} {1}".format('Marco', 'Polo')
print(my_string)

Marco Polo

In [105]:
my_string = "{1} {0}".format('Marco', 'Polo')
print(my_string)

Polo Marco

We use braces (`{}`) to indicate parts of the string that will be filled in later and we use the arguments of the `format()` function to provide the values to substitute. The numbers within the braces indicate the index of the value in the `format()` arguments.

In [106]:
print('insert %s here' % 'value')

insert value here

The `%` symbol basically cues Python to create a placeholder. Whatever character follows the `%` (in the string) indicates what sort of type the value put into the placeholder will have. This character is called a conversion type. Once the string has been closed, we need another `%` that will be followed by the values to insert. In the case of one value, you can just put it there. If you are inserting more than one value, they must be enclosed in a tuple.

In [107]:
print('There are %s cats in my %s' % (13, 'apartment'))

There are 13 cats in my apartment

`%s` indicates that Python should convert the values into strings.

### Logical Operators

#### Basic Logic

In [108]:
statement_1 = 10 > 2
statement_2 = 4 <= 6
print("Statement 1 truth value: {0}".format(statement_1))
print("Statement 2 truth value: {0}".format(statement_2))
print("Statement 1 and Statement 2: {0}".format(statement_1 and statement_2))

Statement 1 truth value: True
Statement 2 truth value: True
Statement 1 and Statement 2: True

In [109]:
print(((2 < 3) and (3 > 0)) or ((5 > 6) and not (4 < 2)))

True

In [110]:
print(bool(""))

False

In [112]:
print(bool([]))

False

In [113]:
print(bool([1, 2, 3]))

True

In [115]:
if "":
    print(True)
else:
    print(False)

False

In [117]:
i = 4
if i == 5:
    print('The variable i has a value of 5')

In [120]:
i = 4
if i == 5:
    print("All lines in this indented block are part of this block")
    print('The variable i has a value of 5')
else:
    print("All lines in this indented block are part of this block")
    print('The variable i is not equal to 5')

All lines in this indented block are part of this block
The variable i is not equal to 5

In [121]:
i = 1
if i == 1:
    print('The variable i has a value of 1')
elif i == 2:
    print('The variable i has a value of 2')
elif i == 3:
    print('The variable i has a value of 3')
else:
    print("I don't care what i is")

The variable i has a value of 1

In [123]:
i = 10
if i % 2 == 0:
    if i % 3 == 0:
        print('i is divisible by both 2 and 3! Wow!')
    elif i % 5 == 0:
        print('i is divisible by both 2 and 5! Wow!')
    else:
        print('i is divisible by 2, but not 3 or 5. Meh.')
else:
    print('I guess that i is an odd number. Boring.')

i is divisible by both 2 and 5! Wow!

In [124]:
i = 5
j = 12
if i < 10 and j > 11:
    print('{0} is less than 10 and {1} is greater than 11! How novel and interesting!'.format(i, j))

5 is less than 10 and 12 is greater than 11! How novel and interesting!

In [125]:
my_string = "Carthago delenda est"
if my_string == "Carthago delenda est":
    print('And so it was! For the glory of Rome!')
else:
    print('War elephants are TERRIFYING. I am staying home.')

And so it was! For the glory of Rome!

In [126]:
if 'a' in my_string or 'e' in my_string:
    print('Those are my favorite vowels!')

Those are my favorite vowels!

### Loop Structures

In [130]:
i = 5
while i > 0:
    i -= 1
    print('I am looping! {0} more to go!'.format(i))

I am looping! 4 more to go!
I am looping! 3 more to go!
I am looping! 2 more to go!
I am looping! 1 more to go!
I am looping! 0 more to go!

In [133]:
for i in range(5):
    print('I am looping! I have looped {0} times!'.format(i+1))

I am looping! I have looped 1 times!
I am looping! I have looped 2 times!
I am looping! I have looped 3 times!
I am looping! I have looped 4 times!
I am looping! I have looped 5 times!

In [134]:
my_list = {'cats', 'dogs', 'lizards', 'cows', 'bats', 'sponges', 'humans'} # Lists all the animals in the world
mammal_list = {'cats', 'dogs', 'cows', 'bats', 'humans'} # Lists all the mammals in the world
my_new_list = set()
for animal in my_list:
    if animal in mammal_list:
        # This adds any animal that is both in my_list and mammal_list to my_new_list
        my_new_list.add(animal)
        
print(my_new_list)

{'cows', 'dogs', 'humans', 'bats', 'cats'}

In [135]:
i = 10
while True:
    if i == 14:
        break
    i += 1
    print(i)

11
12
13
14

In [136]:
for i in range(5):
    if i == 2:
        break
    print(i)

0
1

The `continue` statement will tell the loop to immediately end this iteration and continue onto the next iteration of the loop.

In [137]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

In [138]:
for i in range(5):
    loop_string = 'I transcend the loop!'
    print('I am eternal! I am {0} and I exist everywhere!'.format(i))

print('I persist! My value is {0}'.format(i))
print(loop_string)

I am eternal! I am 0 and I exist everywhere!
I am eternal! I am 1 and I exist everywhere!
I am eternal! I am 2 and I exist everywhere!
I am eternal! I am 3 and I exist everywhere!
I am eternal! I am 4 and I exist everywhere!
I persist! My value is 4
I transcend the loop!

In [141]:
my_dict = {'firstname':'Inigo', 'lastname':'Montoya', 'nemesis':'Rugen'}

In [144]:
for key in my_dict:
    print(my_dict[key])

Inigo
Montoya
Rugen

In [146]:
for i, j in my_dict.items():
    print(i, ':', j)

firstname : Inigo
lastname : Montoya
nemesis : Rugen

The `items()` function creates a tuple of each key-value pair and the for loop unpacks that tuple into key, value on each separate execution of the loop!

### Functions